<div [scrollSpyAffix]="{topMargin: 100}" class="seccion header" id="header">
    <div class="inside">
        <nav class="site-navigation">
            <ul>
                <li>
                    <a>{{'INICIO' | translate}}</a>
                </li>
                <li>
                    <a>{{'POR_QUE' | translate}}</a>
                </li>
                <li>
                    <a>{{'QUE' | translate}}</a>
                </li>
                <li>
                    <a>{{'COMO' | translate}}</a>
                </li>
                <li>
                    <a>{{'QUIENES' | translate}}</a>
                </li>
                <li>
                    <a>{{'HABLAMOS' | translate}}</a>
                </li>
                <li>
                    <a>{{'TRABAJA_CON_NOSOTROS' | translate}}</a>
                </li>
            </ul>
        </nav>
        <a class="site-branding" href="http://www.innqube.com"
           [title]="Innqube - + 'DESARROLLO_A_MEDIDA' | translate">
            <img class="light" src="../../assets/images/logotipo-color-typo-light.png"/>
            <img class="dark" src="../../assets/images/logotipo-color-typo-dark.png"/>
        </a>
    </div>
</div>
