.navbar {
    border-radius: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}

.navbar.navbar-transparent {
    background: transparent;
    color: #fff;
}

.navbar.navbar-transparent.affix {
    background: #fff;
    color: #000;
    width: 100%;
    z-index: 3;
}

.navbar a {
    color: #fff;
}

.navbar a:hover {
    color: #000;
}

.navbar.affix a {
    color: #000;
}

.navbar.affix a:hover {
    color: #fff;
}
