<nav [scrollSpyAffix]="{topMargin: 100}" class="navbar navbar-transparent">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    (click)="collapsed = !collapsed" data-target="#navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img class="brand-light" src="../../assets/images/logotipo-color-typo-light.png"/>
            <img class="brand-dark" src="../../assets/images/logotipo-color-typo-dark.png"/>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div [collapse]="collapsed" class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a pageScroll [pageScrollDuration]="500" href="#welcome">{{'WELCOME' | translate}}</a>
                </li>
                <li>
                    <a pageScroll [pageScrollDuration]="500" [pageScrollOffset]="70" href="#why">{{'WHY' | translate}}</a>
                </li>
                <li>
                    <a pageScroll [pageScrollDuration]="500" [pageScrollOffset]="70" href="#what">{{'WHAT' | translate}}</a>
                </li>
                <li>
                    <a pageScroll [pageScrollDuration]="500" [pageScrollOffset]="70" href="#how">{{'HOW' | translate}}</a>
                </li>
                <li>
                    <a pageScroll [pageScrollDuration]="500" [pageScrollOffset]="70" href="#who">{{'WHO' | translate}}</a>
                </li>
                <li>
                    <a pageScroll [pageScrollDuration]="500" [pageScrollOffset]="70" href="#letsTalk">{{'LETS_TALK' | translate}}</a>
                </li>
                <li>
                    <div class="btn-group">
                        <button class="btn btn-xs" (click)="changeLanguage('en')" title="English">
                            <img src="../../assets/images/uk.png"/>
                        </button>
                        <button class="btn btn-xs" (click)="changeLanguage('es')" title="Español">
                            <img src="../../assets/images/spain.png"/>
                        </button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
