.navbar {
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar.affix {
    background: #fff;
    color: #000;
    width: 100%;
    z-index: 1;
}

.navbar .navbar-transparent {
    background: transparent;
    color: #fff;
}
