<div class="footer">
    <div class="row">
        <div class="col-sm-4">
            ©2017 <span class="company">InnQube</span> - {{'CUSTOM_DEVELOPMENT' | translate}}
        </div>
        <div class="col-sm-8 text-right">
            <a href="https://codecov.io/gh/Innqube/innqube-website" target="_blank">
                <img src="https://codecov.io/gh/Innqube/innqube-website/branch/master/graph/badge.svg" alt="Codecov" />
            </a>
            <a href="https://travis-ci.org/Innqube/innqube-website" target="_blank">
                <img src="https://travis-ci.org/Innqube/innqube-website.svg?branch=master"/>
            </a>
            <a href="https://codeclimate.com/github/Innqube/innqube-website" target="_blank">
                <img src="https://codeclimate.com/github/Innqube/innqube-website/badges/gpa.svg"/>
            </a>
            <a class="github" href="https://github.com/Innqube/innqube-website" target="_blank">
                <i class="icon-github-circled"></i>
                github
            </a>
        </div>
    </div>
</div>
