.footer {
    background: #202020;
    color: #6b6a69;
    font-size: 12px;
    line-height: 2;
    padding: 10px 90px;
    width: 100%;
}

.company {
    color: #fff;
    font-weight: bolder;
}

.github {
    background: #636262;
    padding: 2px 5px 3px;
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
    font-family: sans-serif;
    top: 1px;
    position: relative;
    text-shadow: 0 0 1px #000;
    white-space: nowrap;
}

.navbar {
    display: none;
}

@media (max-width: 767px) {
    .navbar {
        background-color: #fff;
        overflow: hidden;
        position: fixed;
        bottom: 0;
        width: 100%;
        display: flex;
        z-index: 9999999;
        border-top: 4px solid #a94c8b;
    }

    .navbar a {
        float: left;
        display: block;
        color: #7a0eb8;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 15px;
    }

    .navbar a:hover {
        background-color: #ddd;
    }

    .navbar a:focus, a:active {
        color: #f57d36;
        outline: none;
    }
}
