<div class="section-container">
    <div class="section row">
            <div class="col-sm-3 p-5">

                <img src="assets/images/logotipo-color-typo-light.png" height="64" width="250"/>

                <div class="mt-4 mb-2">
                    <a pageScroll [pageScrollDuration]="500" [pageScrollOffset]="70" href="#what"
                       class="nav-link">{{'WHAT' | translate}}</a>
                    <a pageScroll [pageScrollDuration]="500" [pageScrollOffset]="70" href="#how"
                       class="nav-link">{{'HOW' | translate}}</a>
                    <a pageScroll [pageScrollDuration]="500" [pageScrollOffset]="70" href="#who"
                       class="nav-link">{{'WHO' | translate}}</a>
                    <a pageScroll [pageScrollDuration]="500" [pageScrollOffset]="70" href="#customers"
                       class="nav-link">{{'FOR_WHOM' | translate}}</a>
                </div>

                <hr class="ml-2 mr-4" style="border-top: 2px solid rgba(255,255,255,0.6);"/>

                <div>
                    <a href="https://api.whatsapp.com/send?phone=5492944663875" title="Whatsapp"
                       target="_blank">
                        <i class="icon-whatsapp fa-2x"></i>
                    </a>
                    <a href="https://telegram.me/TommyBrc" title="Telegram" target="_blank">
                        <i class="icon-telegram fa-2x"></i>
                    </a>
                    <a href="https://twitter.com/innqube_la" title="Twitter" target="_blank">
                        <i class="icon-twitter fa-2x"></i>
                    </a>
                    <a href="https://www.facebook.com/innqube" title="Facebook" target="_blank">
                        <i class="icon-facebook fa-2x"></i>
                    </a>
                </div>
            </div>

            <div class="col-sm-4 p-5">
                <p class="contact-title">
                    {{'HOW_TO_GET_IN_TOUCH' | translate}}
                </p>
                <div class="contact-info">
                    <div>
                        <span class="contact-title">{{'ADDRESS' | translate}}</span>:
                        <span>Vice Almirante O'Connor 587</span>
                    </div>
                    <div>
                        <span class="contact-title">{{'PHONE_NUMBER' | translate}}</span>:
                        <span>+54 9 294 466 3875</span>
                    </div>
                    <div>
                        <span class="contact-title">{{'EMAIL' | translate}}</span>: <a
                        href="mailto:hola@innqube.com">hola@innqube.com</a>
                    </div>
                </div>
                <p class="col-sm-8 p-0">
                    {{'LAST_MESSAGE' | translate}}
                </p>
            </div>


            <div class="col-sm-4 p-5 form">
                <form [formGroup]="form">
                    <div class="group">
                        <input type="text" formControlName="nombre" appValidated required/>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label><i class="fas fa-chevron-right"></i> {{'YOUR_NAME' | translate}}</label>
                    </div>

                    <div class="group">
                        <input type="email" formControlName="mail" appValidated required/>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label><i class="fas fa-chevron-right"></i> {{'YOUR_EMAIL' | translate}}</label>
                    </div>
                    <div class="group">
                        <input type="text" formControlName="asunto" appValidated required/>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label><i class="fas fa-chevron-right"></i> {{'SUBJECT' | translate}}</label>
                    </div>

                    <div class="group">
                        <textarea rows="4" formControlName="message" appValidated required></textarea>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label><i class="fas fa-chevron-right"></i> {{'YOUR_MESSAGE' | translate}}</label>
                    </div>

                    <a href="mailto:hola@innqube.com?subject=Contacto&body={{form.value.name + ' - ' + form.value.mail + '%0D%0A%0D%0A' + form.value.message}}"
                       class="btn float-right">
                        {{'SEND_MESSAGE' | translate}}
                    </a>
                </form>
            </div>
    </div>
</div>
