<div class="section-container light">
    <div class="section">
        <h3 class="titulo-seccion">
            <span>{{'LETS_TALK' | translate}}</span>
        </h3>
        <div class="row">
            <div class="col-sm-6">
                <h4>Innqube</h4>
                <div class="row">
                    <div class="col-sm-12">
                        <p>
                            {{'LAST_MESSAGE' | translate}}
                        </p>
                        <p>
                            {{'HOW_TO_GET_IN_TOUCH' | translate}}
                        </p>
                        <div class="contact-info">
                            <div>
                                <span class="contact-title">{{'PHONE_NUMBER' | translate}}</span>: <span>+54 9 294 466 3875</span>
                            </div>
                            <div>
                                <span class="contact-title">{{'EMAIL' | translate}}</span>: <a
                                    href="mailto:hola@innqube.com">hola@innqube.com</a>
                            </div>
                        </div>
                        <div>
                            <a href="tel:+5492944663875" title="Phone" target="_blank">
                                <i class="icon-phone-squared"></i>
                            </a>
                            <a href="mailto:hola@innqube.com" title="Mail" target="_blank">
                                <i class="icon-mail-alt"></i>
                            </a>
                            <a href="https://api.whatsapp.com/send?phone=5492944663875" title="Whatsapp"
                               target="_blank">
                                <i class="icon-whatsapp"></i>
                            </a>
                            <a href="https://telegram.me/TommyBrc" title="Telegram" target="_blank">
                                <i class="icon-telegram"></i>
                            </a>
                            <a href="https://twitter.com/innqube_la" title="Twitter" target="_blank">
                                <i class="icon-twitter"></i>
                            </a>
                            <a href="https://www.facebook.com/innqube" title="Facebook" target="_blank">
                                <i class="icon-facebook"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <h4>{{'SEND_US_A_MESSAGE' | translate}}</h4>
                <form [formGroup]="form">
                    <div class="form-group">
                        <label>{{'YOUR_NAME' | translate}}</label>
                        <input type="text" class="form-control" formControlName="name"/>
                    </div>
                    <div class="form-group">
                        <label>{{'YOUR_EMAIL' | translate}}</label>
                        <input type="email" class="form-control" formControlName="mail"/>
                    </div>
                    <div class="form-group">
                        <label>{{'YOUR_MESSAGE' | translate}}</label>
                        <textarea rows="3" class="form-control" formControlName="message"></textarea>
                    </div>
                    <button type="submit" class="btn btn-lg btn-orange" (click)="sendMessage()">
                        {{'SEND_MESSAGE' | translate}}
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
