.img-container {
    filter: saturate(0.1);
    transition: all 0.5s;
}

.img-container:hover {
    filter: saturate(1);
    transition: all 0.5s;
}

.modal-header h4 {
    font-family: 'Open Sans', sans-serif!important;
    font-weight: 500;
}
