<div class="row customer-row">
  <div class="col-md-2 customer-cell">
    <a href="http://www.tecnicarivero.com.ar">
      <img class="img-container" src="./assets/images/customers/tecnica_rivero.png"/>
    </a>
  </div>
  <div class="col-md-2 customer-cell">
    <a href="http://www.conicet.gov.ar/conicet">
      <img class="img-container" src="./assets/images/customers/conicet.png"/>
    </a>
  </div>
  <div class="col-md-2 customer-cell">
    <a href="http://www.fundacioninvap.org.ar">
      <img class="img-container" src="./assets/images/customers/fundacioninvap.png"/>
    </a>
  </div>
  <div class="col-md-2 customer-cell">
    <img class="img-container" src="./assets/images/customers/elbarco.png"/>
  </div>
  <div class="col-md-2 customer-cell">
    <a href="http://www.partedetuhogar.com.ar/">
      <img class="img-container" src="./assets/images/customers/abaroa.png"/>
    </a>
  </div>
  <div class="col-md-2 customer-cell">
    <a href="http://valleverde.com.ar">
      <img class="img-container" src="./assets/images/customers/valleverde.png"/>
    </a>
  </div>
</div>
<div class="row">
  <div class="col-md-2 customer-cell">
    <a href="http://www.argentinamining.com/es/">
      <img class="img-container" src="./assets/images/customers/argentinamining.png"/>
    </a>
  </div>
  <div class="col-md-2 customer-cell">
    <a href="http://impatagonia.com.ar/web/">
      <img class="img-container" src="./assets/images/customers/imp.png"/>
    </a>
  </div>
  <div class="col-md-2 customer-cell">
    <a href="http://www.kleer.la/">
      <img class="img-container" src="./assets/images/customers/kleer.png"/>
    </a>
  </div>
  <div class="col-md-2 customer-cell">
    <img class="img-container" src="./assets/images/customers/modena.png"/>
  </div>
  <div class="col-md-2 customer-cell">
    <a href="http://www.abertex.com.ar/">
      <img class="img-container" src="./assets/images/customers/abertex.png"/>
    </a>
  </div>
</div>
