@media (max-width: 767px) {
    .section-container {
        padding: 0px 10px;
    }
}

.img {
    max-height: 172px;
    width: 100%;
}

.link {
    color: #ffffff;
    width: 100%;
    /*font-size: 2vw;*/
}

.link:hover {
    color: #efefef;
}

.section-container {
    background-color: #f5f6f8
}

.eposter {
    background-color: #28062c;
}

.eventiando {
    background-color: #25325d;
}

.microbrew {
    background-color: #ff9900;
}

.gecko {
    background-color: #1c1e26;
    height: 100%;
}

.iphones {
    background-image: url('../../assets/images/projects/iphones.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    max-width: 456px;
    height: 465px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.25), only screen and ( min--moz-device-pixel-ratio: 1.25), only screen and ( -o-min-device-pixel-ratio: 1.25/1), only screen and ( min-device-pixel-ratio: 1.25), only screen and ( min-resolution: 200dpi), only screen and ( min-resolution: 1.25dppx) {
    .iphones {
        background-image: url('../../assets/images/projects/iphones@2x.png');
    }
}
