<div class="section-container">
    <div class="section">
        <h3 class="titulo-seccion text-center mb-5">{{'PROJECTS' | translate}}</h3>
        <div class="col-sm-12 col-xl-10 row mx-auto">
            <div class="col-sm-12 col-lg-6 text-center">
                <img class="mb-5 p-3" width="100%" src="assets/images/projects/flying_phones.png">
                <a href="https://apps.apple.com/us/developer/innqube-s-a-s/id1150942620"
                   target="_blank">
                    <img *ngIf="currentLanguage() === 'en'" class="m-2" src="../../assets/images/stores/appstore_en.svg">
                    <img *ngIf="currentLanguage() === 'es'" class="m-2" src="../../assets/images/stores/appstore_es.svg">
                </a>
                <a href="https://play.google.com/store/apps/developer?id=InnQube"
                   target="_blank">
                    <img *ngIf="currentLanguage() === 'en'" class="m-2" src="../../assets/images/stores/googleplay_en.svg" height="60">
                    <img *ngIf="currentLanguage() === 'es'" class="m-2" src="../../assets/images/stores/googleplay_es.svg" height="60">
                </a>
            </div>
            <div class="col-sm-12 col-lg-6 align-self-center p-4">
                <div class="row">
                    <div class="col-sm-12 col-md-6 p-2">
                        <div class="p-2 text-center eposter">
                            <img class="img" src="../../assets/images/projects/eposter.svg"/>
                            <a href="https://www.eposter.com.ar"
                               target="_blank"
                               class="link"
                            >www.eposter.com.ar</a>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 p-2">
                        <div class="p-2 text-center eventiando">
                            <img class="img" src="assets/images/projects/eventiando.svg"/>
                            <a class="link" href="#">Coming soon...</a>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 p-2">
                        <div class="p-2 text-center microbrew">
                            <img class="img" src="assets/images/projects/microbrewar.svg"/>
                            <a href="https://www.microbrew.com.ar"
                               target="_blank"
                               class="link"
                            >www.microbrew.com.ar</a>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 p-2">
                        <div class="p-2 text-center gecko">
                            <div class="d-flex flex-column align-items-center justify-content-between h-100">
                                <div class="img d-flex flex-column align-items-center ">
                                    <img height="50%" src="assets/images/projects/gecko_iso.svg"/>
                                    <img height="30%" src="assets/images/projects/gecko_logo_white.svg"/>
                                </div>
                                <a
                                    href="https://www.gecko.com.ar"
                                    target="_blank"
                                    class="link"
                                >www.gecko.com.ar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
