img {
    width: 50%;
    border-radius: 500px;
}

.social {
    width: 32px;
}

hr {
    margin-bottom: 0;
}

a {
    color: #f57e37;
}

a:hover {
    color: #ff8439;
}

i {
    font-size: 34px;
}

span {
    color: #848484;
}

.member-container {
    margin-bottom: 20px;
}
