<div class="member-container">
    <img [src]="imgSrc" class="mb-3 mt-3"/>
    <h6>{{name}}</h6>
    <span>{{degree}}</span>
    <div class="text-center p-2">
        <a *ngIf="linkedIn" [href]="linkedIn" target="_blank">
            <i class="icon-linkedin-squared"></i>
        </a>
        <a *ngIf="twitter" [href]="twitter" target="_blank">
            <i class="icon-twitter-squared"></i>
        </a>
        <a *ngIf="github" [href]="github" target="_blank">
            <i class="icon-github-squared"></i>
        </a>
    </div>
</div>
