<div class="section-container dark what">
    <div [scrollSpyParallax]="options" class="parallax-background"></div>
    <div class="section">
        <h3>{{'WHAT_WE_DO' | translate}}</h3>
        <p [innerHTML]="'WHAT_WE_DO_DESC_1' | translate"></p>
        <p [innerHTML]="'WHAT_WE_DO_DESC_2' | translate"></p>
        <p [innerHTML]="'WHAT_WE_DO_DESC_3' | translate"></p>
        <div class="row">
            <div class="col-sm-4">
                <div class="text-center">
                    <i class="icon-keyboard"></i>
                    <h5>{{'SOFTWARE_DEVELOPMENT' | translate}}</h5>
                </div>
                <div class="col-sm-offset-1 col-sm-10">
                    <ul>
                        <li>{{'INSTITUTIONAL_WEBSITES' | translate}}</li>
                        <li>{{'APPLICATIONS' | translate}}</li>
                        <li>{{'APIS' | translate}}</li>
                        <li>{{'INTEGRATIONS' | translate}}</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="text-center">
                    <i class="icon-chart-line"></i>
                    <h5>{{'TEC_CONSULTING' | translate}}</h5>
                </div>
                <div class="col-sm-offset-1 col-sm-10">
                    <ul>
                        <li>{{'AUDIT' | translate}}</li>
                        <li>{{'ADVISEMENT' | translate}}</li>
                        <li>{{'ROADMAPS' | translate}}</li>
                        <li>{{'PROCESS_IMPROVEMENTS' | translate}}</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="text-center">
                    <i class="icon-graduation-cap"></i>
                    <h5>{{'MENTORING_TRAINING' | translate}}</h5>
                </div>
                <div class="col-sm-offset-1 col-sm-10">
                    <ul>
                        <li>{{'LANG_FRAME' | translate}}</li>
                        <li>{{'AGILE_METH' | translate}}</li>
                        <li>{{'WORKSHOPS' | translate}}</li>
                        <li>{{'ACCOMPANIMENT' | translate}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
