<div class="section-container dark what">
    <div [scrollSpyParallax]="options" class="parallax-background"></div>
    <div class="section">
        <h3>{{'WHAT_WE_DO' | translate}}</h3>
        <p>
            Lo que hacemos se llama transformación digital, un término que puede significar cosas distintas según quién
            lo mire. Para nosotros, la transformación digital se define mediante tres actividades principales.
        </p>
        <div class="row">
            <div class="col-sm-4">
                <div class="text-center">
                    <i class="fa fa-keyboard-o fa-5x"></i>
                    <h5>Desarrollo de software</h5>
                </div>
                <div class="col-sm-offset-1 col-sm-10">
                    <ul>
                        <li>Sitios web institucionales</li>
                        <li>Aplicaciones de escritorio, web y móviles</li>
                        <li>Servicios web / APIS</li>
                        <li>Integraciones</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="text-center">
                    <i class="fa fa-line-chart fa-5x"></i>
                    <h5>Consultoría tecnológica</h5>
                </div>
                <div class="col-sm-offset-1 col-sm-10">
                    <ul>
                        <li>Auditoría</li>
                        <li>Asesoramiento</li>
                        <li>Roadmaps de transformación</li>
                        <li>Mejoras de procesos</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="text-center">
                    <i class="fa fa-graduation-cap fa-5x"></i>
                    <h5>Capacitación y mentoría</h5>
                </div>
                <div class="col-sm-offset-1 col-sm-10">
                    <ul>
                        <li>Lenguajes y frameworks</li>
                        <li>Metodologías ágiles</li>
                        <li>Talleres y workshops</li>
                        <li>Acompañamiento</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
