<div class="section-container dark what">
    <div [scrollSpyParallax]="options" class="parallax-background"></div>
    <div class="section">
        <h3>{{'WHAT_WE_DO' | translate}}</h3>
        <p>
            {{'WHAT_WE_DO_DESC' | translate}}
        </p>
        <div class="row">
            <div class="col-sm-4">
                <div class="text-center">
                    <i class="icon-keyboard"></i>
                    <h5>{{'SOFTWARE_DEVELOPMENT' | translate}}</h5>
                </div>
                <div class="col-sm-offset-1 col-sm-10">
                    <ul>
                        <li>{{'INSTITUTIONAL_WEBSITES' | translate}}</li>
                        <li>{{'APPLICATIONS' | translate}}</li>
                        <li>{{'APIS' | translate}}</li>
                        <li>{{'INTEGRATIONS' | translate}}</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="text-center">
                    <i class="icon-chart-line"></i>
                    <h5>Consultoría tecnológica</h5>
                </div>
                <div class="col-sm-offset-1 col-sm-10">
                    <ul>
                        <li>Auditoría</li>
                        <li>Asesoramiento</li>
                        <li>Roadmaps de transformación</li>
                        <li>Mejoras de procesos</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="text-center">
                    <i class="icon-graduation-cap"></i>
                    <h5>Capacitación y mentoría</h5>
                </div>
                <div class="col-sm-offset-1 col-sm-10">
                    <ul>
                        <li>Lenguajes y frameworks</li>
                        <li>Metodologías ágiles</li>
                        <li>Talleres y workshops</li>
                        <li>Acompañamiento</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
