.top-bar {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
}

.top-bar div {
    background: #202020;
    opacity: 0.5;
    height: 7px;
    width: 100%;
    position: relative;
    max-width: 80%;
}

.jumbotron {
    background: transparent;
    margin: 80px 0px 300px 0px;
    width: 40%;
    color: #fff;
}

.title {
    /*padding: 0px 0 20px;*/
}

p {
    /*font-family: "Roboto";*/
    font-size: 22.5px;
    font-weight: 100;
    padding: 40px 0 20px;
}

@media (min-width: 768px) {
    p {
        /*font-size: 30px;*/
    }
    .title {
        /*font-family: "Roboto Slab";*/
        /*font-weight: 300;*/
        /*padding: 40px 0;*/
    }
}

a {
    color: #fff;
    /*margin: 80px 0 20px;*/
}
