@media (min-width: 768px) {
    .top-bar {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        right: 0;
    }

    .top-bar div {
        background: #202020;
        opacity: 0.5;
        height: 7px;
        width: 100%;
        position: relative;
        max-width: 80%;
    }
}

.jumbotron {
    background: transparent;
    color: #fff;
}

.section {
    min-height: 500px;
}

.title {
    margin: 0 auto;
}

h1 {
    font-family: 'Gotham', sans-serif;
    font-weight: bold;
}

p {
    font-size: 22px;
    padding: 40px 0 20px;
}

a {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Gotham', sans-serif;
}
