
<div class="section-container dark welcome" >
    <div class="top-bar d-flex justify-content-center align-items-center">
        <div></div>
    </div>
    <div [scrollSpyParallax]="options" class="parallax-background" id="tsparticles"></div>
    <div class="section d-flex justify-content-center">
        <div class="jumbotron text-center">
            <h1 class="title text-center pt-5 col-sm-8">{{'CUSTOM_DEVELOPMENT' | translate}}</h1>
            <p class="text-center">{{'CUSTOM_DEVELOPMENT_1' | translate}}</p>
            <a class="btn btn-white-outline text-center mt-5" href="#letsTalk">
                {{'LETS_TALK' | translate}}
            </a>
        </div>
    </div>
</div>
