<div class="section-container">
    <div class="section">
        <h3 class="titulo-seccion text-center">
            <span>{{'CUSTOMERS' | translate}}</span>
        </h3>

        <div class="d-flex justify-content-center mx-auto" style="width: 1000px">
            <app-quote [quote]="quotes[active].quote | translate"
                       [imagen]="quotes[active].imagen"
                       [author]="quotes[active].author"
                       [authorImg]="quotes[active].authorImg"
                       [role]="quotes[active].role | translate"
                       (changeIndexEvt)="onIndexChange($event)"></app-quote>
        </div>
        <app-customers></app-customers>
    </div>
</div>
