.wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
}

.wrapper app-quote {
    display: grid;
}

@media(min-width: 768px) {
    .wrapper {
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 1fr;
    }
}
