<div class="section-container">
    <div class="section">
        <h3 class="titulo-seccion text-center">{{'CUSTOMERS' | translate}}</h3>

        <div class="mx-auto">
            <app-quote [quote]="quotes[active].quote | translate"
                       [imagen]="quotes[active].imagen"
                       [author]="quotes[active].author"
                       [authorImg]="quotes[active].authorImg"
                       [role]="quotes[active].role | translate"
                       (changeIndexEvt)="onIndexChange($event)"></app-quote>
        </div>
        <app-customers></app-customers>
    </div>
</div>
