<div class="section-container grey">
  <div class="jumbotron">
    <div class="section">
      <h3 class="titulo-seccion-grey">
        <span>{{'CUSTOMERS' | translate}}</span>
      </h3>

      <app-quote *ngIf="currentQuote" [quote]="currentQuote.quote" [imagen]="currentQuote.imagen"></app-quote>
      <div class="btn-group">
        <button class="btn btn-darker" type="button" (click)="previous()">
          <i class="icon-left-open"></i>
        </button>
        <button class="btn btn-darker" type="button" (click)="next()">
          <i class="icon-right-open"></i>
        </button>
      </div>
      <div class="col-md-12" class="separador"></div>
      <app-customers></app-customers>
    </div>
  </div>
</div>
