.section {
    min-height: 800px;
    color: #fff;
}

.section-container {
    z-index: 1;
}

img {
    display: block;
    margin: 0 auto;
}

.how-we-work-es {
    background-image: url("../../assets/images/how_mobile_es.png");
    width: 100%;
    max-width: 380px;
    height: 415px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-left: -50px!important;
    margin-right: -50px!important;
}

.how-we-work-en {
    background-image: url("../../assets/images/how_mobile_en.png");
    width: 100%;
    max-width: 478px;
    height: 520px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-left: -50px!important;
    margin-right: -50px!important;
}

@media (min-width: 768px) {
    .how-we-work-es {
        background-image: url("../../assets/images/how_we_work_es.png");
        width: 100%;
        max-width: 900px;
        height: 760px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        display: block;
        margin: 0 auto;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.25), only screen and ( min--moz-device-pixel-ratio: 1.25), only screen and ( -o-min-device-pixel-ratio: 1.25/1), only screen and ( min-device-pixel-ratio: 1.25), only screen and ( min-resolution: 200dpi), only screen and ( min-resolution: 1.25dppx) {
    .how-we-work-es {
        background-image: url("../../assets/images/how_mobile@2x.png");
    }

    @media (min-width: 768px) {
        .how-we-work-es {
            background-image: url("../../assets/images/how_we_work_es@2x.png");

        }
    }
}

@media (min-width: 768px) {
    .how-we-work-en {
        background-image: url("../../assets/images/how_we_work_en.png");
        width: 100%;
        max-width: 900px;
        height: 760px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        display: block;
        margin: 0 auto;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.25), only screen and ( min--moz-device-pixel-ratio: 1.25), only screen and ( -o-min-device-pixel-ratio: 1.25/1), only screen and ( min-device-pixel-ratio: 1.25), only screen and ( min-resolution: 200dpi), only screen and ( min-resolution: 1.25dppx) {
    .how-we-work-en {
        background-image: url("../../assets/images/how_mobile_en@2x.png");
    }

    @media (min-width: 768px) {
        .how-we-work-en {
            background-image: url("../../assets/images/how_we_work_en@2x.png");

        }
    }
}

@media (min-width: 768px) {
    .how-text {
        top: 150px;
        left: -220px;
    }
}
