<div class="card row col-sm-12 col-md-12 col-lg-10 col-xl-8 mx-auto flex-row p-5  mt-5 mb-5">
    <a class="btn btn-orange btn-left"
       (click)="changeIndex(-1)">
        <i class="fas fa-chevron-left"></i>
    </a>
    <a class="btn btn-orange btn-right"
       (click)="changeIndex(1)">
        <i class="fas fa-chevron-right"></i>
    </a>

    <div class="col-sm-6 col-md-4 profile-pic align-self-center mb-3 text-center">
        <img src="{{authorImg}}">
    </div>
    <div class="col-sm-6 col-md-8   flex-column">
        <span class="quote">“{{quote}}”</span>
        <div class="divider"></div>
        <div class="author">{{author}}</div>
        <div class="role">{{role}}</div>
    </div>
</div>
