
.profile-pic img {
    border-radius: 100%;
    padding: 20px;
}

.quote {
    font-style: italic;
}

.author {
    text-transform: uppercase;
}

.role {
    font-weight: bold;
}

.divider {
    border-top: 5px solid #e4e4e4;
    width: 70px;
    margin: 20px 0;
}

.btn {
    border-radius: 0px;
}

.btn-left {
    position: absolute;
    left: -18px;
    align-self: center;
}

.btn-right {
    position: absolute;
    right: -18px;
    align-self: center;
}

a i {
    color: #fff;
}
