<div class="row quote-container">
    <div class="col-md-8">
        <h4 class="quote text-center">“{{quote}}”</h4>
        <div class="text-center">
            <div class="profile-pic">
                <img src="{{authorImg}}">
            </div>
            <div class="author">
                {{author}}
            </div>
            <div class="role">
                {{role}}
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <img class="img-container" src="{{imagen}}"/>
    </div>
</div>
