body {
    color: #5d5454;
    font-family: 'Open Sans', sans-serif;
    /*font-family: 'Exo', sans-serif;*/
    font-size: 0.9em;
}

.section-container {
    padding: 10px 50px;
    position: relative;
    z-index: 2;
}

.section {
    position: relative;
    z-index: 2;
}

.parallax-background {
    background-position-x: 50% !important;
    background-position-y: 100% !important;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.brand-dark {
    background-image: url("./assets/images/logo_dark.png");
    background-size: contain;
    width: 184px;
    height: 44px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.25), only screen and ( min--moz-device-pixel-ratio: 1.25), only screen and ( -o-min-device-pixel-ratio: 1.25/1), only screen and ( min-device-pixel-ratio: 1.25), only screen and ( min-resolution: 200dpi), only screen and ( min-resolution: 1.25dppx) {
    .brand-dark {
        background-image: url("./assets/images/logo_dark@2x.png");
    }
}

.brand-light {
    background-image: url("./assets/images/logo_header.png");
    background-size: contain;
    width: 184px;
    height: 44px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.25), only screen and ( min--moz-device-pixel-ratio: 1.25), only screen and ( -o-min-device-pixel-ratio: 1.25/1), only screen and ( min-device-pixel-ratio: 1.25), only screen and ( min-resolution: 200dpi), only screen and ( min-resolution: 1.25dppx) {
    .brand-light {
        background-image: url("./assets/images/logo_header@2x.png");
    }
}

@media (min-width: 768px) {
    .section-container {
        padding: 75px 90px;
    }

    /*img.brand-dark {*/
    /*    display: none;*/
    /*}*/

    /*.affix img.brand-light {*/
    /*    display: none;*/
    /*}*/

    div.brand-dark {
        display: none;
    }

    .affix div.brand-light {
        display: none;
    }
}

.grey {
    background: #f7f7f7;
    color: #312b2b;
}

.orange {
    background: #f57e37;
    color: #fff;
}

/*.affix img.brand-dark {*/
/*    display: inline-block;*/
/*}*/

.affix div.brand-dark {
    display: inline-block;
}


/*img.brand-dark {*/
/*    display: none;*/
/*}*/

div.brand-dark {
    display: none;
}

/*.affix img.brand-light {*/
/*    display: none;*/
/*}*/

.affix div.brand-light {
    display: none;
}

.welcome .parallax-background {
    background-image: url("./assets/images/welcome.png");
    /*background-size: contain !important;*/
    top: 0;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.25), only screen and ( min--moz-device-pixel-ratio: 1.25), only screen and ( -o-min-device-pixel-ratio: 1.25/1), only screen and ( min-device-pixel-ratio: 1.25), only screen and ( min-resolution: 200dpi), only screen and ( min-resolution: 1.25dppx) {
    .welcome .parallax-background {
        background-image: url("./assets/images/welcome@2x.png");
    }
}

.welcome {
    background: #ffffff !important;
}

.how .parallax-background {
    background-image: url("./assets/images/how.png");
    /*background-size: cover;*/
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.25), only screen and ( min--moz-device-pixel-ratio: 1.25), only screen and ( -o-min-device-pixel-ratio: 1.25/1), only screen and ( min-device-pixel-ratio: 1.25), only screen and ( min-resolution: 200dpi), only screen and ( min-resolution: 1.25dppx) {
    .how .parallax-background {
        background-image: url("./assets/images/how@2x.png");
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

h3 {
    font-size: 2.5em;
}

h4 {
    font-size: 2em;
}

h5 {
    font-size: 1.5em;
}

.btn-orange {
    background-color: #f57e37;
    color: #fff;
}

.btn-orange:hover {
    background-color: #ff8439;
    color: #fff;
}

.btn-text-lg {
    font-size: 20px;
}

a:hover {
    text-decoration: none;
}

.titulo-seccion-grey,
.titulo-seccion {
    position: relative;
}

.titulo-seccion span {
    font-family: 'Gotham', sans-serif;
    font-weight: bold;
    color: #7a0eb8;
    z-index: 2;
    position: relative;
}

.titulo-seccion-grey span {
    background: #f7f7f7;
    z-index: 2;
    position: relative;
    padding-right: 70px;
}

.titulo-seccion-grey::after,
.titulo-seccion::after {
    /*content: '';*/
    /*width: 100%;*/
    /*position: absolute;*/
    /*top: 20%;*/
    /*left: 0;*/
    /*right: 0;*/
    /*bottom: 80%;*/
    /*background: #d8d4ca;*/
    /*height: 1px;*/
    /*margin-top: 4px;*/
}

.img-container {
    width: 90%;
    height: auto;
}

@media (max-width: 767px) {
    .customer-row {
        margin-bottom: 40px;
    }

    .img-container {
        max-width: 75%;
    }
}

.separador {
    border-top: 1px solid #d2d2d2;
    margin-top: 30px;
}

.btn-white-outline {
    border: 2px solid #fff;
    border-radius: 50px;
    padding: 10px 25px 10px 30px;
}

.card {
    border-radius: 12px;
    border-width: 0px;
    -moz-box-shadow: 0px 0px 0px rgba(68,68,68,0.6);
    -webkit-box-shadow: 0px 0px 0px rgba(68,68,68,0.6);
    box-shadow: 0px 0px 10px 2px rgb(68 68 68 / 0.15);
}
