/* You can add global styles to this file, and also import other style files */
html,
body {
    padding: 0;
    margin: 0;
}

.col-25 {
    float: left;
    width: 25%;
}

.col-50 {
    float: left;
    width: 50%;
}

.col-75 {
    float: left;
    width: 75%;
}

a:hover {
    cursor: pointer;
}

.align-right {
    text-align: right;
}

.titulo-principal {
    font-size: 3em;
    font-weight: bolder;
}

.titulo-seccion {
    font-size: 2em;
}

.parrafo-seccion {
    padding: 15px 0;
}
