<div class="section-container light">
    <div class="background-grey"></div>
    <div class="static-content-cover"></div>
    <div class="section">
        <h3 class="titulo-seccion text-center mt-3 mb-3">
            <span>{{'WHO_WE_ARE' | translate}}</span>
        </h3>
        <div class="d-flex align-items-center justify-content-center p-5">
            <div class="text-center">
                <app-member [name]="'ENRIQUE VIARD'"
                            [degree]="'SYSTEMS_DEGREE' | translate"
                            [imgSrc]="'../../assets/images/eviard.jpg'"
                            [linkedIn]="('LINKEDIN_QUIQUE' | translate)"
                            [github]="'https://github.com/enriqueviard'">
                </app-member>
            </div>
            <div class="text-center">
                <app-member [name]="'DIEGO FERNÁNDEZ SZAMA'"
                            [degree]="'COMPUTER_ENGINEER' | translate"
                            [imgSrc]="'../../assets/images/dfernandez.jpg'"
                            [linkedIn]="('LINKEDIN_DIEGO' | translate)"
                            [github]="'https://github.com/diegofsza'">
                </app-member>
            </div>
            <div class="text-center">
                <app-member [name]="'TOMÁS CHRISTIE'"
                            [degree]="'COMPUTER_ENGINEER' | translate"
                            [imgSrc]="'../../assets/images/tchristie.jpg'"
                            [linkedIn]="('LINKEDIN_TOMMY' | translate)"
                            [twitter]="'https://twitter.com/tommychristie'">
                </app-member>
            </div>
        </div>

        <div style="position: relative">

            <div class="d-flex flex-row justify-content-between mr-5 ml-5 p-5">
                <div class="col-sm-4">

                    <h5 class="mb-5">
                        <span>{{'WHY_WE_CREATED_INNQUBE' | translate}}</span>
                    </h5>
                    <p [innerHTML]="'WHY_WE_CREATED_INNQUBE_2' | translate"></p>
                </div>
                <div class="office"></div>
                <div class="lines-left"></div>
                <div class="lines-right"></div>
            </div>
            <p style="position: absolute; right: 15%;" class="col-sm-4 pt-5" [innerHTML]="'WHY_WE_CREATED_INNQUBE_3' | translate"></p>

            <div class="d-flex flex-row justify-content-between ml-5 pl-5 pr-5">
                <div class="grey-box p-5 col-sm-4">
                    <h5 [innerHTML]="'WHY_WE_CREATED_INNQUBE_2_BIS' | translate"></h5>
                    <div class="workshop"></div>
                </div>
            </div>

        </div>


    </div>
</div>
