<div class="section-container light">
    <div class="background-grey"></div>
    <div class="static-content-cover"></div>
    <div class="section">
        <h3 class="titulo-seccion text-center mt-3 mb-3">{{'WHO_WE_ARE' | translate}}</h3>
        <div class="d-flex row align-items-center justify-content-center">
            <div class="col-sm-6 col-md-4 col-lg-3  text-center">
                <app-member [name]="'ENRIQUE VIARD'"
                            [degree]="'SYSTEMS_DEGREE' | translate"
                            [imgSrc]="'../../assets/images/company/eviard.jpg'"
                            [linkedIn]="('LINKEDIN_QUIQUE' | translate)"
                            [github]="'https://github.com/enriqueviard'">
                </app-member>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 text-center">
                <app-member [name]="'DIEGO FERNÁNDEZ SZAMA'"
                            [degree]="'COMPUTER_ENGINEER' | translate"
                            [imgSrc]="'../../assets/images/company/dfernandez.jpg'"
                            [linkedIn]="('LINKEDIN_DIEGO' | translate)"
                            [github]="'https://github.com/diegofsza'">
                </app-member>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 text-center">
                <app-member [name]="'TOMÁS CHRISTIE'"
                            [degree]="'COMPUTER_ENGINEER' | translate"
                            [imgSrc]="'../../assets/images/company/tchristie.jpg'"
                            [linkedIn]="('LINKEDIN_TOMMY' | translate)"
                            [twitter]="'https://twitter.com/tommychristie'">
                </app-member>
            </div>
        </div>

        <div class="row flex-row justify-content-between mt-5 pb-5" style="position: relative">
            <div class="col-sm-12 col-md-8 col-lg-4">
                <h5 class="mb-5 mt-4 ">{{'WHY_WE_CREATED_INNQUBE' | translate}}</h5>
                <p class="mt-5 mb-5 pt-5" [innerHTML]="'WHY_WE_CREATED_INNQUBE_2' | translate"></p>
            </div>
            <div class="office"></div>
            <div class="lines-left"></div>
            <div class="lines-right"></div>
            <div class="row flex-row justify-content-between">

                <div class="grey-box p-5 mt-5 mb-5 col-sm-12 col-md-5 col-lg-4">
                    <h5 [innerHTML]="'WHY_WE_CREATED_INNQUBE_2_BIS' | translate"></h5>
                    <div class="workshop mx-auto"></div>
                </div>
                <div class="why-text-3 col-sm-12 col-md-5 col-lg-4 float-right text-right">
                    <p [innerHTML]="'WHY_WE_CREATED_INNQUBE_3' | translate"></p>
                </div>
            </div>
        </div>


    </div>
</div>
