<div class="section-container light">
    <div class="static-content-cover"></div>
    <div class="section">
        <h3 class="titulo-seccion">
            <span>{{'WHO_WE_ARE' | translate}}</span>
        </h3>
        <div class="row">
            <div class="col-sm-4">
                <app-member [name]="'Enrique Viard'"
                            [degree]="'SYSTEMS_DEGREE' | translate"
                            [imgSrc]="'../../assets/images/eviard.jpg'"
                            [linkedIn]="('LINKEDIN_QUIQUE' | translate)"
                            [github]="'https://github.com/enriqueviard'">
                </app-member>
            </div>
            <div class="col-sm-4">
                <app-member [name]="'Diego Fernández Szama'"
                            [degree]="'COMPUTER_ENGINEER' | translate"
                            [imgSrc]="'../../assets/images/dfernandez.jpg'"
                            [linkedIn]="('LINKEDIN_DIEGO' | translate)"
                            [github]="'https://github.com/diegofsza'">
                </app-member>
            </div>
            <!-- <div class="col-sm-3">
                <app-member [name]="'Mauro Strione'"
                            [degree]="('COMPUTER_ENGINEER' | translate) + ' - ' + ('MBA' | translate)"
                            [imgSrc]="'../../assets/images/mstrione.jpg'"
                            [linkedIn]="('LINKEDIN_MAURO' | translate)"
                            [twitter]="'https://twitter.com/maurostrione'">
                </app-member>
            </div> -->
            <div class="col-sm-4">
                <app-member [name]="'Tomás Christie'"
                            [degree]="'COMPUTER_ENGINEER' | translate"
                            [imgSrc]="'../../assets/images/tchristie.jpg'"
                            [linkedIn]="('LINKEDIN_TOMMY' | translate)"
                            [twitter]="'https://twitter.com/tommychristie'">
                </app-member>
            </div>
        </div>
        <div class="col-md-12" class="separador"></div>
        <h5>{{'MEMBERS_OFF' | translate}}</h5>
        <div class="row who-container">
            <div class="col-sm-1"></div>
            <div class="col-sm-5">
                <app-memberof
                    [imgSrc]="'../../assets/images/cluster_tec.jpg'"
                    [linkInst]="'http://clusterbariloche.com.ar'"
                    [name]="'Cluster Tecnológibo Bariloche'">
                </app-memberof>
            </div>
            <div class="col-sm-5">
                <app-memberof
                    [imgSrc]=""
                    [linkInst]="'http://clusteragil.github.io'"
                    [name]="'Cluster Ágil Argentina'">
                </app-memberof>
            </div>
        </div>
    </div>
</div>
